<!DOCTYPE html>
<html>
<head>
  <title>Project1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <meta charset="utf-8" />
</head>
<body>
<div class="container">
  <header>
    <%= image_tag("logo.png", :alt => "Application Exemple", :class => "round") %>
    <nav class="round">
      <ul>
        <li><%= link_to "Accueil", '/pages/home' %></li>
        <li><%= link_to "Aide", '/help' %></li>
        <li><%= link_to "Inscription", '/users/new' %></li>
      </ul>
    </nav>
  </header>
  <section class="round">
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
